#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}
input {
  border: 1px solid black !important;
}
input:focus {
  border: 2px solid blue !important;
}
input[type="range"] {
  border: 2px solid none !important;
  outline: none !important;
}

.loader {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
